<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link
      rel="shortcut icon"
      href="../../assets/images/favicon.png"
      type="image/x-icon"
    />
    <title>Protestos</title>
  </head>
  <body class="bg-color-rgi">

    <!-- Header Genérico - Todas as páginas -->
    <div class="container-header">
      <div>
        <a href="../../index.html"
          ><img
            class="img-logo"
            src="../../assets/images/logo-cartorio-azul.png"
            alt="Logo Cartório 1º Ofício de Araruama"
        /></a>
      </div>
      <div class="icons-secondary-pages">
        <a href="mailto:contato@1oficioararuama.com.br" target="_blank"
          ><img
            class="email-icon"
            src="../../assets/images/email-icon-paginas-secundarias.png"
            alt="Ícone para envio de e-mail"
        /></a>
        <a
          href="https://api.whatsapp.com/send?l=pt_BR&phone=55022988377378"
          alt="Ícone de Telefone"
          target="_blank"
          ><img
            class="phone-icon"
            src="../../assets/images/phone-icon-paginas-secundarias.png"
            alt=""
        /></a>
      </div>
    </div>
    <!-- Fim do Header Genérico -->

    <div class="container-subheader">
      <div class="img-main">
            <h1 class="titulo-banner-protesto">Protesto</h1>
      </div>
    </div>

    <!-- Começo container de introdução -->
    <div class="container-intro">
      <div class="intro">
        <p style="color:black">
          O protesto é o ato formal e solene pelo qual se prova a inadimplência e o descumprimento da obrigação originada em títulos e outros documentos de dívida. Ou seja: o protesto não é um instituto limitado aos títulos de crédito, já que é possível o protesto de documentos, como, contratos, e até mesmo sentenças que representam uma dívida.
        </p>
      </div>
    </div>
    <!-- Fim do container de introdução -->

    <!-- Começo container de apontamento -->
    <div class="container-apontamento">
      <div class="apontamento-concept">
        <h2 class="title-apontamento">Apontamento</h2>
        <img
          class="rgi-apontamento-pic"
          src="../../assets/images/Repositório de IMG/img13.jpg"
          alt="Imagem Registro de Imóveis"
        />
      </div>
      <div class="paragraph-apontamento">
        <p>
          Confira abaixo como é realizado o processo de apontamento do título até a solução do título:
        </p>
        <p>
          <span style="color: #2cb4ee">1º passo:</span> o credor deve dirigir-se ao Tabelionato de Protesto na Comarca de domicílio do devedor ou na praça de pagamento estipulada no título;
        </p>
        <p>
          <span style="color: #2cb4ee">2º passo:</span> o tabelião verificará os requisitos legais do título e fará o apontamento;
        </p>
        <p>
          <span style="color: #2cb4ee">3º passo:</span> o devedor será intimado a comparecer ao Tabelionato de Protesto para evitar o protesto, pagando o título;
        </p>
        <p>
          <span style="color: #2cb4ee">4º passo:</span> Após o terceiro dia útil sem pagamento, o tabelião registra o protesto, incluindo o devedor nos órgãos de proteção ao crédito. Ao quitar o título, o credor recebe o valor da dívida e as despesas do apontamento.
        </p>
        <p>
          <span style="color: #2cb4ee">5º passo:</span> caso o devedor tenha interesse em quitar o débito após a lavratura do protesto, será necessário que ele efetue o pagamento junto ao credor e dele obtenha o instrumento de protesto ou a carta de anuência ao cancelamento, para proceder o cancelamento do protesto lavrado, junto ao tabelionato.
        </p>
      </div>
    </div>
    <!-- Fim container de apontamento -->

    <!-- Começo container cancelamento e sustação -->
    <div class="content-sustacao">
      <div class="text-sustacao">
        <h3>
          Sustação e Protesto:
        </h3>
        <p>
          A sustação de protesto evita a lavratura indevida de um título cambiário ameaçado, exigindo depósito judicial do seu valor. Após a sustação judicial, o título só pode ser movimentado com autorização do juiz. Se revogada, a lavratura do protesto ocorre no primeiro dia útil seguinte à revogação, a menos que dependa de consulta ao apresentante. Ordens definitivas sem instrução específica sobre entrega encaminham o documento ao Juízo após 30 dias sem a parte autorizada comparecer.
        </p>
        <h3>Cancelamento de Protesto</h3>
        <p>
          O cancelamento do protesto após sua lavratura pode ser solicitado administrativamente no cartório, especialmente se baseado no pagamento do título. Se o motivo não for o pagamento, requer determinação judicial para efetivar o cancelamento, exigindo o documento original ou anuência do credor.
        </p>
      </div>
      <div>
        <h2 class="title-sustacao">Cancelamento e Sustação</h2>
        <img
          class="img-sustacao" 
          src="../../assets/images/Repositório de IMG/img20.jpg"
          alt="Imagem Ilustrativa - Cancelamento e Sustação"
        />
      </div>
    </div>
    <!-- Fim do container de cancelamento e sustação -->

    <!-- Começo do container de certidão de protestos -->
    <div class="container-protesto">
      <div class="protesto-concept">
        <h2 class="title-protesto">Certidão de Protestos</h2>
        <img
          class="protesto-pic"
          src="../../assets/images/Repositório de IMG/img22.jpg"
          alt="Imagem Ilustrativa - Certidão de Protestos"
        />
      </div>
      <div class="paragraph-protesto">
        <p>
          <span style="color: #2cb4ee">Certidão Negativa de Protesto:</span> É um documento jurídico que declara a ausência de protestos, usado para verificar se uma pessoa ou empresa está inadimplente em títulos como cheques, notas promissórias, entre outros, junto ao Cartório de Protesto, sendo exigido inclusive em concursos para comprovar a ausência de dívidas.
        </p>
        <p>
          <span style="color: #2cb4ee">Certidão do Instrumento de Protesto:</span> O instrumento de protesto é uma via com detalhes do protesto entregue ao credor. Se o devedor não pagar, só o credor pode retirá-lo no cartório.
        </p>
        <p>
          <span style="color: #2cb4ee">Certidão Positiva de Cancelamento:</span> A certidão é emitida quando o devedor paga sua dívida, levando o protesto ao cartório para cancelamento, resultando numa certidão positiva de cancelamento.
        </p>
        <p>
          <span style="color: #2cb4ee">Certidão de Inteiro Teor:</span> esta certidão contempla o detalhamento do protesto, dados do credor, dados do devedor, descrição detalhada da negociação da compra.
        </p>
      </div>
    </div>
    <!-- Fim do container de certidão de protestos -->

    <!-- Começo do container sobre desistência pelo credor -->
    <div class="content-desistencia">
      <div class="text-desistencia">
        <h3>
          Retirada:
        </h3>
        <p>
          Em caso de renegociação ou erro do credor, o devedor pode pedir a desistência do protesto até o horário limite do tabelionato no dia do prazo, conforme o<span style="color: #16a4e0;"> Artigo 16 da Lei 9.492/97</span>. O tabelião não pode estender esse prazo. Se o título foi extraviado, o credor deve declarar o extravio, com firmas reconhecidas e documentos, conforme pessoa física ou jurídica, também estipulado no mesmo artigo. Instituições financeiras podem desistir por fax, mas os custos do cartório são devidos. Para dívidas quitadas, sem causa ou fraudulentas, o devedor deve recorrer ao procedimento judicial de sustação do protesto, também mencionado na lei.
        </p>
      </div>
      <div>
        <h2 class="title-desistencia">Desistência pelo Credor</h2>
        <img
          class="img-desistencia" 
          src="../../assets/images/Repositório de IMG/img24.jpg"
          alt="Imagem Ilustrativa - Desistência pelo Credor"
        />
      </div>
    </div>
    <!-- Fim do container sobre desistência pelo credor -->


     <!-- Começo do Footer Informativo -->
     <div id="footer-out" class="informative-footer-out-general">
      <div class="informative-footer-out">
        <div class="content-footer-out">
          <div class="first-section-out">
            <h3 class="title-footer-out">Sobre Nós</h3>
            <img
              class="logo-footer"
              src="../../assets/images/logo-cartorio-azul.png"
              alt="Logo Cartório 1º Ofício"
            />
            <h4 style="color: #16a4e0">
              Clareza e Confiança em Cada Registro
            </h4>
          </div>

          <div class="second-section-out">
            <h3 class="title-footer-out">Links Úteis</h3>
            <p><a href="index.html">Sobre o Cartório</a></p>
            <p><a href="#service">Serviços</a></p>
            <p>
              <a href="view/cartorio-online.html" target="_blank"
                >Cartório Online</a
              >
            </p>
            <p>
              <a href="view/portal-transparencia.html" target="_blank"
                >Compliance</a
              >
            </p>
          </div>

          <div class="third-section-out">
            <h3 class="title-footer-out">Endereço</h3>
            <p>
              <i class="fa fa-envelope"></i>
              <a href="mailto:contato@1oficioararuama.com.br"
                >contato@1oficio</a
              >
              <a href="mailto:contato@1oficioararuama.com.br"
                >araruama.com.br</a
              >
            </p>
            <p>
              <i class="icon solid fa-home"></i>
              <a
                href="https://www.google.com/maps/place/Clerk+of+1+Office+of+Justice+Araruama/@-22.8790999,-42.341788,20.5z/data=!4m15!1m8!3m7!1s0x976916fbf530c9:0x923e4618f85e5d03!2sAv.+John+Kennedy+-+Centro,+Araruama+-+RJ,+28970-000!3b1!8m2!3d-22.879095!4d-42.3418327!16s%2Fg%2F11c2khvdsv!3m5!1s0x97693faaaaaaab01:0xa722558a37e942ee!8m2!3d-22.8791799!4d-42.3416458!16s%2Fg%2F11c6cq_sp_?entry=ttu"
                target="_blank"
              >
                Av John Kennedy nº 6, loja 5, Bairro Centro.</a
              >
            </p>

            <p>
              <i class="icon solid fa-phone"></i>
              <a href="#">(22)2664-4492</a>
            </p>
          </div>

          <div class="fourth-section-out">
            <h3 class="title-footer-out">Contate-nos</h3>
            <form action="#">
              <div class="form-control">
                <input type="text" placeholder="Digite seu E-mail" />
              </div>
              <div class="form-control">
                <textarea
                  name=""
                  id=""
                  cols="10"
                  rows="5"
                  placeholder="Escreva-nos uma mensagem..."
                ></textarea>
              </div>
              <button class="button-submit">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim do Footer Informativo -->
    <br>
    <br>
    <br>
    <!-- Começo do Footer de Ondinhas -->
    <div class="footer-out-wave">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
      <ul class="social_icons">
        <li>
          <a
            href="https://api.whatsapp.com/send?l=pt_BR&phone=55022988377378"
            target="_blank"
            >
            <ion-icon name="logo-whatsapp"></ion-icon
          ></a>
        </li>
        <li>
          <a href="mailto:contato@1oficioararuama.com.br" target="_blank"
            ><ion-icon name="mail-outline"></ion-icon
          ></a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/1oficioararuama"
            target="_blank"
            >
            <ion-icon name="logo-facebook"></ion-icon
          ></a>
        </li>
      </ul>
      <p class="paragraph-footer-out">
        ©Cartório - 1º Ofício de Araruama | All Rights Reserved
      </p>
    </div>
  </div>
    <!-- Fim do Footer de Ondinhas -->


  </body>
</html>
