<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/x-icon">
    <title>Registro de Imóveis</title>
  </head>
  <body class="bg-color-rgi">
    <div class="container-header">
      <div>
        <a href="../../index.html"
          ><img
            class="img-logo"
            src="../../assets/images/logo-cartorio-azul.png"
            alt="Logo Cartório 1º Ofício de Araruama"
        /></a>
      </div>
      <div class="icons-secondary-pages">
        <a href="mailto:contato@1oficioararuama.com.br" target="_blank"
          ><img
            class="email-icon"
            src="../../assets/images/email-icon-paginas-secundarias.png"
            alt="Ícone para envio de e-mail"
        /></a>
        <a
          href="https://api.whatsapp.com/send?l=pt_BR&phone=55022988377378"
          alt="Ícone de Telefone"
          target="_blank"
          ><img
            class="phone-icon"
            src="../../assets/images/phone-icon-paginas-secundarias.png"
            alt=""
        /></a>
      </div>
    </div>

    <!-- <div class="container-subheader">
    <div>
      <img class="img-subheader" src="../../assets/images/banner-fundo-paginas.png" alt="">
    </div>
  </div> -->

    <div class="content-container">
      <div class="text">
        <p>
          O registro do negócio na matrícula do imóvel (aquele documento que
          registra todos os eventos e mudanças ocorridas em torno de sua
          propriedade) é feito no respectivo Cartório de Registro de Imóveis,
          sendo o principal instrumento apto a comprovar juridicamente quem é o
          dono de um bem imóvel. Esta serventia é responsável pelos registros do
          2º e 3º distritos.
        </p>
        <p>
          A lei de Registro Públicos, em vigência desde 1973, determina que uma
          vez lavrada a escritura o comprador deve efetivar o registro em até
          trinta dias, juntando todos os documentos exigidos pelo Cartório de
          Registro de Imóveis. Só assim será permitida a alteração e averbação
          do nome do novo proprietário na matrícula do imóvel. Se optar por um
          imóvel financiado, a alteração só poderá ser realizada com a sua
          quitação. A instituição responsável pela concessão de crédito emitirá
          documento para que o real comprador possa levá-lo ao Cartório de
          Registro de Imóveis e fazer as alterações pertinentes.
        </p>
      </div>
      <div>
        <img
          class="img-rgi"
          src="../../assets/images/Repositório de IMG/img22.jpg"
          alt="Imagem Ilustrativa - Registro de Imóveis"
        />
      </div>
    </div>

    <div class="container-rgi">
      <div class="rgi-concept">
        <h2 class="title-rgi">Registro de Imóveis</h2>
        <img
          class="rgi-content-pic"
          src="../../assets/images/Repositório de IMG/img7.jpg"
          alt="Imagem Registro de Imóveis"
        />
      </div>
      <div class="paragraph">
        <p>
          O Registro estabelece o direito de propriedade, ou seja, afirma quem é
          o dono. No Brasil, tanto na compra de um imóvel, ou nos casos de
          herança, é o Registro que garante a propriedade ao novo dono. Sem o
          Registro, eventuais dívidas de quem vendeu poderão recair sobre o
          imóvel, acarretando o risco de ser penhorado. Outro risco é a
          possibilidade da venda para outras pessoas, já que o comprador
          original não efetuou a transmissão de propriedade.
        </p>
        <p>
          O documento deve ser feito no Cartório de Registro de Imóveis
          respectivo da região(circunscrição) onde o imóvel está localizado, ou
          seja, não é possível escolher o Cartório de Registro de Imóveis.
        </p>
        <p>
          A matrícula de um imóvel é o documento que identifica sua existência
          legal e informa suas características físicas, como sua dimensão ou
          extensão, e sua localização geográfica (bairro, rua etc.). Ela é feita
          e mantida no Cartório de Registro de Imóveis e além das
          características do imóvel contém toda e qualquer alteração feita em
          relação ao imóvel, como mudança de propriedade, utilização do mesmo
          para penhor ou financiamento, por exemplo, feitas na matrícula através
          de averbação. A matrícula é o documento que comprova a existência do
          imóvel e quem é seu proprietário legal.
        </p>
      </div>
    </div>

    <div class="content-averbacao">
      <div class="text-averbacao">
        <p>
          A averbação envolve todas as alterações ou acréscimos que ocorrem no
          registro de um imóvel, isto é, um histórico de mudanças realizadas no
          imóvel.
        </p>
        <p>
          Temos como exemplo de informações importantes para a averbação: o
          Habite-se (documento expedido pela prefeitura do município que “dá
          baixa” na construção do imóvel), mudança de estado civil do
          proprietário, mudança de nome, o cancelamento de hipotecas ou
          financiamentos, etc. Para a averbação de nome, por exemplo, é
          necessário uma cópia autenticada da certidão de registro civil, que
          deverá ser entregue ao Cartório de Registro de Imóveis.
        </p>
        <p>
          Quando ocorre a construção de uma casa, é necessário que o
          proprietário tenha o projeto de construção aprovado na Prefeitura do
          município. E este processo pode ser até mais delicado, visto que é
          necessário solicitar junto a Prefeitura um alvará de demolição e só
          depois que ele for liberado a demolição vai ocorrer.
        </p>
        <p>
          Resumindo, a averbação tem o objetivo de tornar públicas as alterações
          no registro de um imóvel, mesmo que essas alterações não gerem
          obrigações ou custos ao proprietário.
        </p>
      </div>
      <div>
        <h2 class="title-averbacao">Averbação</h2>
        <img
          class="img-averbacao"
          src="../../assets/images/Repositório de IMG/img19.jpg"
          alt="Imagem Ilustrativa - Registro de Imóveis"
        />
      </div>
    </div>

    <div class="container-certidao-rgi">
      <div class="rgi-certidao-concept">
        <h2 class="title-certidao-rgi">Certidão RGI</h2>
        <img
          class="rgi-certidao-content-pic"
          src="../../assets/images/Repositório de IMG/img17.jpg"
          alt="Imagem Registro de Imóveis"
        />
      </div>
      <div class="paragraph-certidao">
        <p>
          Certidões do registro imobiliário são essenciais para garantir a segurança na transferência de propriedades. Entre elas:
        </p>
        <p>
          a) <span style="color: #2cb4ee">Certidão de Ônus Reais</span> (ou Certidão de Propriedade) revela detalhes como localização, proprietários e ônus, como hipotecas ou penhoras.
        </p>
        <p>
          b) <span style="color: #2cb4ee">Certidão de Inteiro Teor</span> traz o histórico completo do imóvel, vital para identificar seu proprietário atual.
        </p>
        <p>
          c) <span style="color: #2cb4ee">Certidão de Ônus e Ações Reais</span> detalha ônus judiciais presentes na matrícula, essencial para evitar pendências na transação.
        </p>
        <p>
          d) <span style="color: #2cb4ee">Certidão de Transcrição</span> se aplica a imóveis registrados antes de 1976, substituindo a de Inteiro Teor.
        </p>
        <p>
          e) <span style="color: #2cb4ee">Certidão Negativa de Propriedade</span> revela se alguém é proprietário do imóvel em questão.
        </p>
        <p>
          f) <span style="color: #2cb4ee">Certidão Quinzenária ou Vintenária</span> mostra a cadeia dominial do imóvel por 15 ou 20 anos, essencial para verificar seu histórico de titularidade.
        </p>
      </div>
    </div>

    <!-- Começo do Footer Informativo -->
    <div id="footer-out" class="informative-footer-out-general">
      <div class="informative-footer-out">
        <div class="content-footer-out">
          <div class="first-section-out">
            <h3 class="title-footer-out">Sobre Nós</h3>
            <img
              class="logo-footer"
              src="../../assets/images/logo-cartorio-azul.png"
              alt="Logo Cartório 1º Ofício"
            />
            <h4 style="color: #16a4e0">
              Clareza e Confiança em Cada Registro
            </h4>
          </div>

          <div class="second-section-out">
            <h3 class="title-footer-out">Links Úteis</h3>
            <p><a href="index.html">Sobre o Cartório</a></p>
            <p><a href="#service">Serviços</a></p>
            <p>
              <a href="view/cartorio-online.html" target="_blank"
                >Cartório Online</a
              >
            </p>
            <p>
              <a href="view/portal-transparencia.html" target="_blank"
                >Compliance</a
              >
            </p>
          </div>

          <div class="third-section-out">
            <h3 class="title-footer-out">Endereço</h3>
            <p>
              <i class="fa fa-envelope"></i>
              <a href="mailto:contato@1oficioararuama.com.br"
                >contato@1oficio</a
              >
              <a href="mailto:contato@1oficioararuama.com.br"
                >araruama.com.br</a
              >
            </p>
            <p>
              <i class="icon solid fa-home"></i>
              <a
                href="https://www.google.com/maps/place/Clerk+of+1+Office+of+Justice+Araruama/@-22.8790999,-42.341788,20.5z/data=!4m15!1m8!3m7!1s0x976916fbf530c9:0x923e4618f85e5d03!2sAv.+John+Kennedy+-+Centro,+Araruama+-+RJ,+28970-000!3b1!8m2!3d-22.879095!4d-42.3418327!16s%2Fg%2F11c2khvdsv!3m5!1s0x97693faaaaaaab01:0xa722558a37e942ee!8m2!3d-22.8791799!4d-42.3416458!16s%2Fg%2F11c6cq_sp_?entry=ttu"
                target="_blank"
              >
                Av John Kennedy nº 6, loja 5, Bairro Centro.</a
              >
            </p>

            <p>
              <i class="icon solid fa-phone"></i>
              <a href="#">(22)2664-4492</a>
            </p>
          </div>

          <div class="fourth-section-out">
            <h3 class="title-footer-out">Contate-nos</h3>
            <form action="#">
              <div class="form-control">
                <input type="text" placeholder="Digite seu E-mail" />
              </div>
              <div class="form-control">
                <textarea
                  name=""
                  id=""
                  cols="10"
                  rows="5"
                  placeholder="Escreva-nos uma mensagem..."
                ></textarea>
              </div>
              <button class="button-submit">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim do Footer Informativo -->
    <br>
    <br>
    <br>
    <!-- Começo do Footer de Ondinhas -->
    <div class="footer-out-wave">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
      <ul class="social_icons">
        <li>
          <a
            href="https://api.whatsapp.com/send?l=pt_BR&phone=55022988377378"
            target="_blank"
            >
            <ion-icon name="logo-whatsapp"></ion-icon
          ></a>
        </li>
        <li>
          <a href="mailto:contato@1oficioararuama.com.br" target="_blank"
            ><ion-icon name="mail-outline"></ion-icon
          ></a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/1oficioararuama"
            target="_blank"
            >
            <ion-icon name="logo-facebook"></ion-icon
          ></a>
        </li>
      </ul>
      <p class="paragraph-footer-out">
        ©Cartório - 1º Ofício de Araruama | All Rights Reserved
      </p>
    </div>
  </div>
    <!-- Fim do Footer de Ondinhas -->
  </body>
</html>








