<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <title>Registro de Imóveis</title>
  </head>
  <body class="bg-color-rgi">
    <div class="container-header">
      <div>
        <a href="../../index.html"
          ><img
            class="img-logo"
            src="../../assets/images/logo-cartorio-azul.png"
            alt="Logo Cartório 1º Ofício de Araruama"
        /></a>
      </div>
      <div class="icons-secondary-pages">
        <a href="mailto:contato@1oficioararuama.com.br" target="_blank"
          ><img
            class="email-icon"
            src="../../assets/images/email-icon-paginas-secundarias.png"
            alt="Ícone para envio de e-mail"
        /></a>
        <a
          href="https://api.whatsapp.com/send?l=pt_BR&phone=55022988377378"
          alt="Ícone de Telefone"
          target="_blank"
          ><img
            class="phone-icon"
            src="../../assets/images/phone-icon-paginas-secundarias.png"
            alt=""
        /></a>
      </div>
    </div>

    <div class="container-subheader">
      <div class="img-main">
            <h1 class="titulo-banner">Registro de Imóveis</h1>
      </div>
    </div>

    <div class="content-container">
      <div class="text">
        <p>
          O registro do negócio na matrícula do imóvel (aquele documento que
          registra todos os eventos e mudanças ocorridas em torno de sua
          propriedade) é feito no respectivo Cartório de Registro de Imóveis,
          sendo o principal instrumento apto a comprovar juridicamente quem é o
          dono de um bem imóvel. Esta serventia é responsável pelos registros do
          2º e 3º distritos.
        </p>
        <p>
          A lei de Registro Públicos, em vigência desde 1973, determina que uma
          vez lavrada a escritura o comprador deve efetivar o registro em até
          trinta dias, juntando todos os documentos exigidos pelo Cartório de
          Registro de Imóveis. Só assim será permitida a alteração e averbação
          do nome do novo proprietário na matrícula do imóvel. Se optar por um
          imóvel financiado, a alteração só poderá ser realizada com a sua
          quitação. A instituição responsável pela concessão de crédito emitirá
          documento para que o real comprador possa levá-lo ao Cartório de
          Registro de Imóveis e fazer as alterações pertinentes.
        </p>
      </div>
      <div>
        <img
          class="img-rgi"
          src="../../assets/images/Repositório de IMG/img22.jpg"
          alt="Imagem Ilustrativa - Registro de Imóveis"
        />
      </div>
    </div>

    <div class="container-rgi">
      <div class="rgi-concept">
        <h2 class="title-rgi">Registro de Imóveis</h2>
        <img
          class="rgi-content-pic"
          src="../../assets/images/Repositório de IMG/img7.jpg"
          alt="Imagem Registro de Imóveis"
        />
      </div>
      <div class="paragraph">
        <p>
          O Registro estabelece o direito de propriedade, ou seja, afirma quem é
          o dono. No Brasil, tanto na compra de um imóvel, ou nos casos de
          herança, é o Registro que garante a propriedade ao novo dono. Sem o
          Registro, eventuais dívidas de quem vendeu poderão recair sobre o
          imóvel, acarretando o risco de ser penhorado. Outro risco é a
          possibilidade da venda para outras pessoas, já que o comprador
          original não efetuou a transmissão de propriedade.
        </p>
        <p>
          O documento deve ser feito no Cartório de Registro de Imóveis
          respectivo da região(circunscrição) onde o imóvel está localizado, ou
          seja, não é possível escolher o Cartório de Registro de Imóveis.
        </p>
        <p>
          A matrícula de um imóvel é o documento que identifica sua existência
          legal e informa suas características físicas, como sua dimensão ou
          extensão, e sua localização geográfica (bairro, rua etc.). Ela é feita
          e mantida no Cartório de Registro de Imóveis e além das
          características do imóvel contém toda e qualquer alteração feita em
          relação ao imóvel, como mudança de propriedade, utilização do mesmo
          para penhor ou financiamento, por exemplo, feitas na matrícula através
          de averbação. A matrícula é o documento que comprova a existência do
          imóvel e quem é seu proprietário legal.
        </p>
      </div>
    </div>

    <!-- EDITAR AVERBAÇÃO EM CIMA DISSO -->
    <div class="content-averbacao">
      <div class="text-averbacao">
        <p>
          A averbação envolve todas as alterações ou acréscimos que ocorrem no
          registro de um imóvel, isto é, um histórico de mudanças realizadas no
          imóvel.
        </p>
        <p>
          Temos como exemplo de informações importantes para a averbação: o
          Habite-se (documento expedido pela prefeitura do município que “dá
          baixa” na construção do imóvel), mudança de estado civil do
          proprietário, mudança de nome, o cancelamento de hipotecas ou
          financiamentos, etc. Para a averbação de nome, por exemplo, é
          necessário uma cópia autenticada da certidão de registro civil, que
          deverá ser entregue ao Cartório de Registro de Imóveis.
        </p>
        <p>
          Quando ocorre a construção de uma casa, é necessário que o
          proprietário tenha o projeto de construção aprovado na Prefeitura do
          município. E este processo pode ser até mais delicado, visto que é
          necessário solicitar junto a Prefeitura um alvará de demolição e só
          depois que ele for liberado a demolição vai ocorrer.
        </p>
        <p>
          Resumindo, a averbação tem o objetivo de tornar públicas as alterações
          no registro de um imóvel, mesmo que essas alterações não gerem
          obrigações ou custos ao proprietário.
        </p>
      </div>
      <div>
        <h2 class="title-averbacao">Averbação</h2>
        <img
          class="img-averbacao"
          src="../../assets/images/Repositório de IMG/img19.jpg"
          alt="Imagem Ilustrativa - Registro de Imóveis"
        />
      </div>
    </div>
  </body>
</html>
