<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/x-icon">
    <title>Registro de Imóveis</title>
  </head>
  <body class="bg-color-rgi">
    <div class="container-header">
      <div>
        <a href="../../index.html"
          ><img
            class="img-logo"
            src="../../assets/images/logo-cartorio-azul.png"
            alt="Logo Cartório 1º Ofício de Araruama"
        /></a>
      </div>
      <div class="icons-secondary-pages">
        <a href="mailto:contato@1oficioararuama.com.br" target="_blank"
          ><img
            class="email-icon"
            src="../../assets/images/email-icon-paginas-secundarias.png"
            alt="Ícone para envio de e-mail"
        /></a>
        <a
          href="https://api.whatsapp.com/send?l=pt_BR&phone=55022988377378"
          alt="Ícone de Telefone"
          target="_blank"
          ><img
            class="phone-icon"
            src="../../assets/images/phone-icon-paginas-secundarias.png"
            alt=""
        /></a>
      </div>
    </div>

    <div class="container-subheader">
      <div class="img-main">
            <h1 class="titulo-banner-cartorio-online">Cartório Online</h1>
      </div>
    </div>